/* .gallery-section {
    padding: 0 60px 60px;
    text-align: center; 
}

.dark .gallery-section {
    background-color: #2c2c2c;
}

.dark .gallery-section h2 {
    color: white;
}

.gallery-con {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 35px;
    padding: 30px 0 80px;
}

.img-card {
    width: 100%;
    height: auto;
}

/* Gallery.css */
/* .gallery-section {
    padding: 0 60px 60px;
    text-align: center; 
}

.dark .gallery-section {
    background-color: #2c2c2c;
}

.dark .gallery-section h2 {
    color: white;
}

.gallery-con {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 35px;
    padding: 30px 0 80px;
}

.img-card {
    width: 100%;
    height: auto;
} */

/* Mobile Ansicht für small devices (max-width: 600px) */
/* @media (max-width: 600px) {

  .gallery-section {
    padding: 0 20px 40px; 
  }

  .gallery-con {
    grid-template-columns: 1fr; 
    gap: 20px; 
  }

  .img-card img {
    width: 100%;
    height: auto;
  }

  h1, h2 {
    font-size: 2rem; 
    text-align: center; 
  }
} */ 

/* Gallery.css */
.gallery-section {
  padding: 0 60px 60px;
  text-align: center;
}

.dark .gallery-section {
  background-color: #2c2c2c;
}

.dark .gallery-section h2 {
  color: white;
}

.gallery-con {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 35px;
  padding: 30px 0 80px;
}

.img-card {
  width: 100%;
  height: auto;
}

/* Mobile Ansicht für small devices (max-width: 600px) */
@media (max-width: 600px) {

.gallery-section {
  padding: 0 20px 40px; 
}

.gallery-con {
  grid-template-columns: 1fr; 
  gap: 20px; 
}

.img-card img {
  width: 100%;
  height: auto;
}

h1, h2 {
  font-size: 2rem; 
  text-align: center; 
}
}