.footer-section {
    background-color: #2c2c2c;
    font-family: "Roboto-Bold";
    flex-direction: row;
    padding: 40px 0 0 80px; 
    display: grid;  
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;                      
    color: white;                  
}

.footer-architect-logo img {
    width: 33%;
}

.footer-section .information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 20px; 
}

.footer-section .contact-information {
    display: flex;
    flex-direction: column;
}

.footer-section .socials {
    display: flex;
    flex-direction: column;
}

.footer-section .information h4, .footer-section .contact-information h4, .footer-section .socials h4 {
    font-family: 'Roboto-Regular';
    color: white;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.footer-section .information p, .footer-section .contact-information p {
    font-family: 'Roboto-Light';
    color: white;
    font-size: 1.2rem;
    line-height: 2;
}