@font-face {
  font-family: 'Roboto-Light';
  src: url(/fonts/Roboto-Light.ttf);
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url(/fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url(/fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url(/fonts/Roboto-Bold.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: inherit; /* Vererbt Hintergrund */
}

html, body {
  font-size: 10px;
  height: 100%;
}

body.dark {
  background-color: #2C2C2C;
}

img {
  max-width: 100%;
}

h1 {
  font-family: 'Roboto-Light';
  font-size: 4.5rem;
  font-weight: 300;
  color: gray;
  letter-spacing: 1.2px;
  text-align: left; 
}

h2 {
  font-family: 'Roboto-Medium';
  font-size: 3rem;
  font-weight: 300;
  text-align: left; 
}

h2.dark {
  color: white;
}


/* Mobile Ansicht für small devices (max-width: 600px) */
@media (max-width: 600px) {
  html {
    font-size: 8px; 
  }

  h1 {
    font-size: 3rem; 
    text-align: center; 
  }
  
  h2 {
    font-size: 2rem; 
    text-align: center; 
  }

  body {
    padding: 20px; 
 }
}